
body {
	padding-top: 100px;
}



img {
	height: 200px;
	width: 200px;
	padding-top: 30px;
}

	
.background {
	background-color: orange;
	padding-left: 179px;
}

div > h2 {
	font-size: 19px;
	font-weight: normal;
}

.border {
	border: 1px solid black;


}

